    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src=""></script>
  </body>
  <blockquote class="blockquote text-center">
    <p class="mb-0">"Absolutely the most fire shit I've ever had delivered to my door."</p>
    <footer class="blockquote-footer">SimpleGrow's first customer, <cite title="Source Title">Seth Rogan</cite></footer>
  </blockquote>
</html>