html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$background: #1E1E1E;
$button-colour: #e74c3c;

body {
  background-color: $background;

  .new-strain {
    margin-bottom: 20px;
  }

  .container {
    background-color: #fff;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;

    .card {
      margin-bottom: 1em;
      
      .btn {
        background-color: $button-colour;
        border: $button-colour;
      }

      .actions {
        form {
          display: inline;
        }
      }
    }

    .contain-width {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
}

header {
  padding: 20px;
  
  .jumbotron {
    padding-bottom: 30px;
  }

  .simplegrow-logo {
    margin-left: 83px;
  }

  .top-titlebar{
    margin-top: 40px;
  }
}

blockquote {
  margin-top: 1em;
  margin-left: 20em;
}

.form-group{
  padding-bottom: 10px;
}

.mb-0 {
  color: white;
}